# requirements.txt

# Основные зависимости
aiohttp==3.9.3        # Асинхронные HTTP-запросы
beautifulsoup4==4.12.3 # Парсинг HTML/XML
telethon==1.34.0      # Работа с Telegram API
matplotlib==3.9.1     # Генерация графиков

# Всё ниже не используется, пока что(оставил на случай, если не правильно сделал задание)

# Опциональные зависимости
# PyPDF2==3.0.1        
# python-docx==1.1.2   
# pdf2image==1.17.0    
# Pillow==11.1.0       
# pytesseract==0.3.13  
# structlog==24.4.0    
# requests==2.32.3     

# Тестирование 
# pytest==8.2.2
# pytest-cov==4.1.0
# requests_mock==1.11.0

# Для Windows (при использовании OCR)
# pywin32==306         # Для работы с Tesseract на Windows